html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFFFFF ;
  color: #FFFFFF ;
  font-size: 2vh ;
}


#header {
  position: absolute;
  top: 0;
  background-image: linear-gradient(to bottom right, #301E67, #5B8FB9);
  padding: 0px ;
  height: auto;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  left: 0% ;
}


.modeLinks {
  display: inline-block ;
  border: 1px solid #FFFFFF ;
  text-align: center ;
  height: auto ;
  width: auto ;
  font-size: 3vh ;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
  text-decoration: underline;
  text-align: left;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
  text-decoration: underline;
  text-align: center;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
}

p {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 25px;

}

ul {
  font-family: 'Times New Roman', Times, serif;

  font-size: 25px;
}

img {
  height: 8%;
  width: 8%;
  float: right;
  outline: 1px solid #FFFFFF
}

table {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  
}
td{
  font-size: 5% ;
  background-color: #606060 ;
  border: 1px solid #FFFFFF ;
}
tr {
  border: 1px solid #FFFFFF ;
  background-color: #5555CC ;
}
#AllInputButtons {
  position: absolute;
  background-color: #394867 ;
  top: 60%;
  height: 30% ;
  width: 40% ;
  font-family: 'Times New Roman', Times, serif ;
  border: 1px solid #FFFFFF;
  left: 7.5% ;
  display:block ;

}
#linesWrapper {
  position: absolute;
  background-color: #394867 ;
  top: 15%;
  height: 30% ;
  width: auto ;
  font-family: 'Times New Roman', Times, serif ;
  border: 1px solid #FFFFFF;
  left: 7.5% ;
  display:block ;
  overflow: scroll ;

}
#lines {
  width: auto ;
  height: auto ;
}
.equation {
  font-size: 3vw ;
  width :auto ;
  height: auto ;
}
#inputButtonWrapper {
  border:1px solid #FFFFFF ;
  background-color: #394867 ;
  height: 100% ; 
  width: 100% ;
  overflow: auto ;
} 
#binaryOperatorTable {
  display: none ;

}
#operandTable {
  display: none;
}

#unaryOperatorTable {
  display: table ;
}

.inputTable {
  width: auto ;
  margin-left: auto ;
  margin-right: auto ;
}
.cyclebutton {
  font-size: 3vw ;
  width: auto ;
  height: auto ;
}
.inputButton {
  font-size: 1vw ;
  height: 100% ;
  width: 100% ;
}
.gradient {
  text-decoration: "line-through" ;
}
.colour {
  background-color: "FFFFFF" ;
}
button:hover {
  background-color: #AAAAAA ;
  cursor: pointer ; 
}
